.navigation-bar {
  align-items: center;
  background-color: var(--yamori-surface-page);
  column-gap: var(--yamori-spacing-medium);
  display: flex;
  position: relative;
  padding: var(--yamori-spacing-large);

  nav {
    flex: 1;

    ul {
      align-items: center;
      column-gap: var(--yamori-spacing-medium);
      display: flex;
      list-style: none;
      padding: unset;
    }
  }

  hr {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
